// Define colors vars
// COLORS
$blue-dark: #1A1A49;
$white: #ffff;
$blue-inputs: #5033b1;

// GRADIENST
$background-gradient:  linear-gradient(180deg, #36393F 0%, #0F0F31 0.01%, #4935B2 100%);
$gold-gradient: linear-gradient(90deg, #FDA632 19.24%, #F88B24 44.06%);
